@model JourneyPortal.ViewModels.Trip.AtractionDetailViewModel

<div class="contentBody">

    <div class="row" style="height:100%;width:100%">
        <h2 class="my-4">
            Wybrana Arakcja -
            "@Model.Name"
        </h2>
        <div class="card" style="width:50%;height:100%;margin:auto">
            <div class="imgDiv">
                @using (Html.BeginForm("EditAtractionImage", "Trip", new { atractionId = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    if (Model.Image != null)
                    {
                        <img id="attractionImage" class="cardImg" src="data:image;base64,@System.Convert.ToBase64String(Model.Image)">
                    }
                    else
                    {
                        <img id="attractionImage" class="cardImg" src="~/Content/Images/empty.svg" />
                    }
                    if (Request.IsAuthenticated && Model.IsOwner)
                    {
                        <div>
                            <input type="file" title="search image" id="file" name="file" onchange="show(this)" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Zapisz" />
                            </div>
                        </div>
                    }
                }
            </div>
            <br />
            <ul class="list-group list-group-flush" style="width:100%">
                <li class="list-group-item">
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i < Math.Floor(Model.Rate))
                        {
                            <span class="fa fa-star" style=" color: orange;"></span>
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                    }
                </li>
                <li class="list-group-item">
                    <div class="wrapper">
                        <b>Współrzędne : </b>X: @Model.X  / Y: @Model.X
                    </div>
                </li>
                <li class="list-group-item"><b>Cena :</b> @Model.Cost</li>
                <li class="list-group-item"><b>Czas zwiedzania :</b> @Model.TimeOfSightseeing</li>
                <li class="list-group-item"><b>Typ :</b> @Model.Type</li>
                <li class="list-group-item"><b>Nazwa właściciela :</b> @Model.OwnerName</li>
                <li class="list-group-item"><b>Email kontaktowy :</b> @Model.OwnerEmail</li>
            </ul>
            <h2>Opis</h2>
            <p>@Html.Raw(Model.Description)</p>
        </div>
    </div>
</div>
<style>
    .wrapper > div {
        border: 2px solid #ddd;
        border-radius: 5px;
        padding: 1em;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
        grid-gap: 10px;
    }

    .cardImg {
        border-radius: 60px;
        width: 100%;
        height: 100%
    }

    .imgDiv {
        height: 50%;
    }
</style>
<script>
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#attractionImage').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }

</script>
