@model JourneyPortal.ViewModels.Trip.ManageTripViewModel
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="contentBody">
    <h2>Twoje wycieczki</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nazwa wycieczki</th>
                <th>Długość (km)</th>
                <th>Czas trwania (hh:mm:ss)</th>
                <th>Czas trwania podczas dużego natężenia ruchu (hh:mm:ss)</th>
                <th>Liczba atrakcji</th>
                <th>Zobacz na mapie</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tripList)
            {
                TimeSpan durMin = TimeSpan.FromSeconds(item.Duration);
                TimeSpan durMax = TimeSpan.FromSeconds(item.DurationTrafiic);
                <tr>
                    <td>@Html.ActionLink(item.Name, "GetTripDetail", "Trip", new { tripId = item.Id }, null)</td>
                    <td>@item.TotalDistance</td>
                    <td>@durMin.Hours:@durMin.Minutes:@durMin.Seconds</td>
                    <td>@durMax.Hours:@durMax.Minutes:@durMax.Seconds</td>
                    <td>@item.AtractionNumber</td>
                    <td>
                        @using (Html.BeginForm("Index", "Trip", new { tripId = item.Id }, FormMethod.Post))
                        {
                            <button class="btn btn-default" type="submit"> Zobacz na mapie</button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveTrip", "Trip", new { tripId = item.Id ,page = Model.Page}, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button class="btn btn-danger" type="submit"> Usuń</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    Strona @(Model.tripList.PageCount < Model.tripList.PageNumber ? 0 : Model.tripList.PageNumber) z @Model.tripList.PageCount

    @Html.PagedListPager(Model.tripList, page => Url.Action("GetYourTrip",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <div>
    </div>

</div>