@model JourneyPortal.ViewModels.Trip.ManageHotelsViewModel
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="contentBody">
    <h2>Twoje hotele</h2>
    <p>@Html.ActionLink("Dodaj nowy hotel", "CreateNewHotel", "Trip", null, new { @class = "btn bg-primary" })</p>
    <input type="text" id="myInput" style="max-width:100%" onkeyup="myFunction()" placeholder="Wyszukaj hotele po nazwie" title="Wyszukaj hotele" />
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Nazwa hotelu</th>
                <th>Popularność</th>
                <th>Koszt</th>
                <th>Aktywne</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.hotelList)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "GetHotelDetail", "Trip", new { id = item.Id }, null)</td>
                    <td>@item.Rate</td>
                    <td>@item.CostPerNight</td>
                    <td>
                        @if (item.IsActive)
                        {
                            using (Html.BeginForm("DisableHotel", "Trip", new { hotelId = item.Id, page = Model.Page }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-warning" type="submit">Wyłącz</button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableHotel", "Trip", new { hotelId = item.Id, page = Model.Page }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-success" type="submit"> Aktywuj</button>
                            }
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("EditHotel", "Trip", new { hotelId = item.Id }, FormMethod.Post))
                        {
                            <button class="btn btn-default" type="submit"> Edytuj</button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveHotel", "Trip", new { hotelId = item.Id, page = Model.Page }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button class="btn btn-danger" type="submit"> Usuń</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    Strona @(Model.hotelList.PageCount < Model.hotelList.PageNumber ? 0 : Model.hotelList.PageNumber) z @Model.hotelList.PageCount

    @Html.PagedListPager(Model.hotelList, page => Url.Action("ManageHotels",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementsByClassName("table table-striped");
        tr = table[0].getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>