@model JourneyPortal.ViewModels.Users.AssignedUsersGridViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="container">
    <h2>Zapisani użytkownicy</h2>
        <p>
            Wyszukaj: @Html.TextBox("searchString")
            <input type="button" onclick="sortBy()" value="Wyszukaj" />
        </p>
    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>@Html.ActionLink("Id", "GetAssignedUsers", new { sortOrder = ViewBag.IdSortParm })</th>*@
                <th><a onclick="sortBy('userName');">Nazwa użytkownika</a></th>
                <th><a onclick="sortBy('firstName');">Imię</a></th>
                <th><a onclick="sortBy('lastName');">Nazwisko</a></th>
                <th><a onclick="sortBy('email');">Email</a></th>
                <th><a onclick="sortBy('booking');">Liczba miejsc</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AssignedUserList)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.NumberOfBooking</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    Elementy @(ViewBag.ItemNumber != 0 ? (ViewBag.PageSize * Model.AssignedUserList.PageNumber - ViewBag.PageSize + 1) : 0) - @(Math.Min((ViewBag.PageSize * Model.AssignedUserList.PageNumber), ViewBag.ItemNumber)) z @ViewBag.ItemNumber
    <br />
    Strona @(Model.AssignedUserList.PageCount < Model.AssignedUserList.PageNumber ? 0 : Model.AssignedUserList.PageNumber) z @Model.AssignedUserList.PageCount

    @Html.PagedListPager(Model.AssignedUserList, page => Url.Action("GetAssignedUsers",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter ,offerId = Model.OfferId}))
</div>
<script>
    function submitSignOff(id) {
        $('#signOff-' + id).submit();
    }
    function sortBy(kind) {
        var sortOrderKind;
        switch (kind) {
            case 'userName':
                {
                    sortOrderKind = '@ViewBag.UserNameSortParm';
                    break;
                }
            case 'firstName':
                {
                    sortOrderKind = '@ViewBag.FirstNameSortParm';
                    break;
                }
            case 'lastName':
                {
                    sortOrderKind = '@ViewBag.LastNameSortParm';
                    break;
                }
            case 'email':
                {
                    sortOrderKind = '@ViewBag.EmailSortParm';
                    break;
                }
            case 'booking':
                {
                    sortOrderKind = '@ViewBag.BookingNumber';
                    break;
                }
            default:
                {
                    var searchValue = $('#searchString').val();
                    break;
                }
        }
        $.get('/Offers/GetAssignedUsers', { offerId: @Model.OfferId, sortOrder: sortOrderKind, searchString: searchValue }, function (data) {
            $('#usersGridList').html(data);
        });
    }
</script>