@model PagedList.IPagedList<JourneyPortal.ViewModels.Offers.OfferDetailViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="contentBody">
    <h2>Zarezerwowane wycieczki</h2>
    <hr/>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>@Html.ActionLink("Nazwa", "GetOffersForUser", new { sortOrder = ViewBag.NameSortParm })</th>
                <th>@Html.ActionLink("Liczba miejsc", "GetOffersForUser", new { sortOrder = ViewBag.BookingNumber })</th>
                <th>@Html.ActionLink("Data rozpoczęcia", "GetOffersForUser", new { sortOrder = ViewBag.DateStartSortParm })</th>
                <th>@Html.ActionLink("Data zakończenia", "GetOffersForUser", new { sortOrder = ViewBag.DateEndSortParm })</th>
                <th>@Html.ActionLink("Koszt całkowity", "GetOffersForUser", new { sortOrder = ViewBag.Cost })</th>
                <th>@Html.ActionLink("Nazwa biura podróży", "GetOffersForUser", new { sortOrder = ViewBag.TravelAgencyName })</th>
                <th>@Html.ActionLink("Status", "GetOffersForUser", new { sortOrder = ViewBag.Status })</th>
                <th>Wypisz się</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.ActionLink(item.Name, "GetOffersDetail", "Offers", new { id = item.Id }, null)</td>
                <td>@item.NuberOfBooking</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@(item.Cost * item.NuberOfBooking)</td>
                <td>@item.TravelAgencyOwnerName</td>
                <td>@item.Status</td>
                <td>
                    @using (Html.BeginForm("SignOff", "Offers", FormMethod.Post, new { id = "signOff-" + item.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" onclick="submitSignOff('@item.Id');">Wypisz się</a>
                        @Html.Hidden("offerId", item.Id)
                        @Html.Editor("numberOfBooking", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "1", @value = "0", @required = "required", @max = item.NuberOfBooking } })
                        @Html.ValidationMessage("SignOffNumber", "", new { @class = "text-danger" })
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    @*Elementy @(ViewBag.ItemNumber != 0 ? (ViewBag.PageSize * Model.PageNumber - ViewBag.PageSize+1) : 0) - @(Math.Min((ViewBag.PageSize * Model.PageNumber), ViewBag.ItemNumber)) z @ViewBag.ItemNumber*@
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("GetOffersForUser",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
<script>
    function submitSignOff(id) {
        $('#signOff-' + id).submit();
    }
</script>