@model List<JourneyPortal.ViewModels.Offers.OffersGridViewModel>
@{

}


<h3>Twoj oferty</h3>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <h3>@item.Name</h3><br />
                <span>@Html.Raw(item.Description)</span><br />
                @item.StartDate - @item.EndDate<br />
                Dodana @item.CreationDate<br />
                @item.CreationDate<br />
                @item.Cost zł<br />
                @item.Country<br/>
            </li>
        }
    </ul>
</div>

