@model JourneyPortal.ViewModels.Offers.OffersViewModel
<div>
    <ul>
        @foreach (var item in Model.OffersList.Where(x=>x.IsActive))
        {
        <li>
            <h3> @Html.ActionLink(item.Name, "GetOffersDetail", "Offers", new { id = item.Id }, null)</h3><br />
            <span>@Html.Raw(item.Description)</span><br />
            @item.StartDate - @item.EndDate<br />
            Dodana @item.CreationDate<br />
            @item.CreationDate<br />
            @item.Cost zł<br />
            @Html.ActionLink(item.TravelAgencyOwnerName, "GetTravelAgencyProfile", "Users", new { userName = item.TravelAgencyOwnerName }, null)<br/>
        </li>
        }
    </ul>
</div>