@model JourneyPortal.ViewModels.Offers.OffersViewModel
@if (Model.IsTravelAgency || Model.IsAdmin)
{
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Zarządzanie ofertami</a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dodaj nową ofertę", "CreateNewOffert", "Offers")</li>
                <li>@Html.ActionLink("Twoje oferty", "GetYourOffers", "Offers")</li>
            </ul>
        </div>
    </nav>
}

<div>
    <ul>
        @foreach (var item in Model.OffersList)
        {
        <li>
            <h3> @Html.ActionLink(item.Name, "GetOffersDetail", "Offers", new { id = item.Id }, null)</h3><br />
            <span>@Html.Raw(item.Description)</span><br />
            @item.StartDate - @item.EndDate<br />
            Dodana @item.CreationDate<br />
            @item.CreationDate<br />
            @item.Cost zł<br />
            @Html.ActionLink(item.TravelAgencyOwnerName, "GetTravelAgencyProfile", "Users", new { userName = item.TravelAgencyOwnerName }, null)<br/>
        </li>
        }
    </ul>
</div>