@model JourneyPortal.ViewModels.Offers.OfferDetailViewModel

<br />
<div class="container">
    <div class="media">
        <div class="media-left media-top">
            @if (Model.Image != null)
            {
                <img width="256" height="256" src="@Url.Content("~/Content/OffersImages/" + @Path.GetFileName(Model.Image))" class="media-object">
            }
            else
            {
                <img src="~/Content/Images/empty.jpg" class="media-object" style="width:320px" />
            }
        </div>
        <div class="media-right media-top">
            <h3 class="media-heading">@Model.Name</h3><br />
            @Html.LabelFor(m => m.StartDate, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", disabled = "disabled" })
            </div>
            @Html.LabelFor(m => m.EndDate, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", disabled = "disabled" })
            </div>
            @Html.LabelFor(m => m.CreationDate, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.CreationDate, new { @class = "form-control", disabled = "disabled" })
            </div>
            @Html.LabelFor(m => m.Cost, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", disabled = "disabled" })
            </div>
            @Html.LabelFor(m => m.NuberOfBooking, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.NuberOfBooking, new { @class = "form-control", disabled = "disabled" })
            </div>
            @Html.Label("Nazwa biura", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                <button id="getTravelAgencyInfo" class="btn btn-info">@Html.ActionLink(Model.TravelAgencyOwnerName, "GetTravelAgencyProfile", "Users", new { userName = Model.TravelAgencyOwnerName }, null)</button>
            </div>

            @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                <p>@Html.Raw(Model.Description)</p>
            </div>
            @if (User.Identity.IsAuthenticated && Model.IsUser)
            {
                using (Html.BeginForm("BookTrip", "Offers", FormMethod.Post))
                {
                    @Html.Hidden("offerId", Model.Id)
                    @Html.Label("Liczba rezerwacji", htmlAttributes: new { @class = "control-label col-md-2" })

                    if (Model.NuberOfBooking == 0)
                    {
                        <div class="col-md-10">
                            <button class="btn btn-success" disabled="disabled" type="submit">Zarezerwuj miejsca</button>
                        </div>
                        @Html.Editor("bookingCount", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @step = "1", @value = "1", @required = "required", @max = Model.NuberOfBooking, disabled = "disabled" } })
                    }
                    else
                    {
                        <div class="col-md-10">
                            <button class="btn btn-success" type="submit">Zarezerwuj miejsca</button>
                        </div>
                        @Html.Editor("bookingCount", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @step = "1", @value = "1", @required = "required", @max = Model.NuberOfBooking } })

                    }
                    @Html.ValidationMessage("bookingCount", "", new { @class = "text-danger" })

                }

            }
        </div>
    </div>

    <div id="commentsList">
        @Html.Partial("~/Views/Offers/CreateComment.cshtml", new JourneyPortal.ViewModels.Offers.CreateCommentToOfferViewModel { OfferId = Model.Id, })
        @Html.Action("GetComments", new { offerId = Model.Id })
    </div>

    @if (Model.IsTravelAgency && Model.IsOwner)
    {
        <div id="usersGridList">
            @Html.Action("GetAssignedUsers",new { offerId = Model.Id })
        </div>
    }
</div>

@*<script>
    function bookTrip() {

        var bookingNum = $('#Liczba_rezerwacji').val();
        var form = $('#signOffForm').serialize();
        if (bookingNum < 1 || bookingNum > @Model.NuberOfBooking) {
    z
            $.post("/Offers/BookTrip", { bookingCount: bookingNum, offerId: @Model.ID});
        }
    }
</script>*@