@model JourneyPortal.Models.TravelAgencyInfoViewModel

@{
    ViewBag.Title = "GetTravelAgencyProfile";
}

<h2>@Model.Name</h2>

<div>
    <ul>



        @foreach (var item in Model.OffersList.Where(x=>x.IsActive))
        {
            <li>
                <h3>@Html.ActionLink(item.Name, "GetOffersDetail", "Offers", new { id = item.Id }, null)</h3><br />
                <span>@Html.Raw(item.Description)</span><br />
                @item.StartDate - @item.EndDate<br />
                Dodana @item.CreationDate<br />
                @item.NuberOfBooking<br />
                @item.CreationDate<br />
                @item.Cost zł<br />
            </li>
        }
    </ul>
</div>
