@model JourneyPortal.ViewModels.Users.ManageUsersViewModel
@using PagedList.Mvc;

<div class="contentBody">
    <h2>Zarejestrowani użytkownicy</h2>
    <input type="text" id="myInput" style="max-width:100%" onkeyup="myFunction()" placeholder="Wyszukaj użytkowników po nazwie" title="Wyszukaj użytkowników" />
    <hr />
    <div class="container" id="userList" style="width:100%">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Nazwa użytkownika</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Rola</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.usersList)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Role</td>
                        <td>
                            @using (Html.BeginForm("ChangeUserRole", "Users", new { userId = item.Id, newRole = "newRole" }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.DropDownList("newRole", Model.RolesList)
                                <button class="btn btn-warning" type="submit">Zmień rolę</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        @*Elementy @(ViewBag.ItemNumber != 0 ? (ViewBag.PageSize * Model.AssignedUserList.PageNumber - ViewBag.PageSize + 1) : 0) - @(Math.Min((ViewBag.PageSize * Model.AssignedUserList.PageNumber), ViewBag.ItemNumber)) z @ViewBag.ItemNumber*@
        <br />
        Strona @(Model.usersList.PageCount < Model.usersList.PageNumber ? 0 : Model.usersList.PageNumber) z @Model.usersList.PageCount

        @Html.PagedListPager(Model.usersList, page => Url.Action("ManageUsers",
                new { page }))
    </div>
</div>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementsByClassName("table table-striped");
        tr = table[0].getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>