<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="~/Scripts/summernote/summernote.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/GlobalScripts.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/globalCSS.css" rel="stylesheet" />
    <link href="~/Content/LoadingSpiner.css" rel="stylesheet" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
</head>
<body background="~/Content/Images/background.jpg" style="background-repeat: no-repeat;background-size: cover;background-position:center center;background-attachment:fixed">
    @Html.Partial("MenuPartial")
    <div id="main" style="margin-left:15%">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container" style="width:100%">
                    <a style="font-size:30px;cursor:pointer" class="navbar-brand" onclick="openNav()">&#9776; Menu</a>
                    @Html.ActionLink("Journey Portal", "Index", "Home" ,new { @class = "navbar-brand" })
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <br/>
        <div id="renderBody" class="panel panel-default">
            @RenderBody()
        </div>
        @*<div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <footer class="footer">
                        <p style="color:black"><b>&copy; @DateTime.Now.Year - Journey Portal</b></p>
                    </footer>
                </div>
            </div>
        </div>*@
    </div>
</body>
</html>
<script>
    var isMenuOpen = false;
    function openNav() {
        if (isMenuOpen) {
            document.getElementById("mySidenav").style.width = "15%";
            document.getElementById("mySidenav").style.minWidth = "130px";
            document.getElementById("main").style.marginLeft = "15%";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        else {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("mySidenav").style.minWidth = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
        isMenuOpen = !isMenuOpen;
    }
</script>