<link href="~/Content/menuCSS.css" rel="stylesheet" />
<div id="mySidenav" class="sidenav">
    <br />
    <br />
    @Html.ActionLink("Strona domowa", "Index", "Home")
    @if (User.IsInRole("TravelAgency") || User.IsInRole("Admin"))
    {
        <button class="dropdown-btn">
            Zarządzanie ofertami
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Oferty", "Index", "Offers")
            @Html.ActionLink("Dodaj nową ofertę", "CreateNewOffert", "Offers")
            @Html.ActionLink("Twoje oferty", "GetYourOffers", "Offers")
        </div>
    }
    else
    {
        @Html.ActionLink("Oferty", "Index", "Offers")
    }
    @if (User.IsInRole("Proprietor") || User.IsInRole("Admin"))
    {
        <button class="dropdown-btn">
            Własna wycieczka
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Własna wycieczka", "Index", "Trip")
            @Html.ActionLink("Zarządzaj atrakcjami", "ManageAtractions", "Trip")
            @Html.ActionLink("Zarządzaj hotelami", "ManageHotels", "Trip")
        </div>
    }
    else
    {
        <button class="dropdown-btn">
            Własna wycieczka
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Własna wycieczka", "Index", "Trip")
            @Html.ActionLink("Twoje wycieczki", "GetYourTrip", "Trip")
        </div>
    }
    @Html.ActionLink("Czat", "Index", "Chat")
    @Html.ActionLink("Forum", "Index", "Forum")
</div>
<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>