@model JourneyPortal.ViewModels.Forum.TopicDetailsViewModel
@{ 
     
}
<div class="container">
    <h2>@Model.Name</h2><br>
    <p><h4>@Model.Description</h4></p><br />
    <div class="media">
        @foreach (var item in Model.PostsList)
        {
            <div class="media-left media-top">
                <img width="128" height="128" src="~/Content/Images/empytAvatar.png" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@item.AuthorName</h4>
                <p>@item.CreationDate</p>
                <p>@Html.Raw(item.Text)</p>
                <hr />
                <p>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("AddLike", "Forum", new { postId = item.Id, topicId = Model.Id, categoryId = Model.CategoryId }, FormMethod.Post, new { id = "addLike-" + item.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="#" onclick="submitAddLike('@item.Id');"><img src="~/Content/Images/like.png" width="16" height="16" /> (@item.Likes)</a>
                        }
                    }
                    else
                    {
                            <div>
                                <img src="~/Content/Images/like.png" width="16" height="16" /> (@item.Likes)
                            </div>
                    }</p>
            </div>
            <br />
        }
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("~/Views/Forum/CreatePost.cshtml", new JourneyPortal.ViewModels.Forum.CreatePostViewModel { Id = Model.Id , CategoryId = Model.CategoryId})
        }
    </div>
    <hr>
</div>
<script>
    function submitAddLike(id) {
        $('#addLike-' + id).submit();
    }
</script>