@model JourneyPortal.ViewModels.Forum.TopicDetailsViewModel
@using PagedList.Mvc;

<div class="contentBody">
    <h3>@Model.Name</h3>
    <p><h4>@Model.Description</h4></p>
        @foreach (var item in Model.PostsList)
        {
            <div class="forumItem">
                <hr/>
                <div class="postBody">
                    <div style="justify-content:flex-start">
                        @if (item.AuthorAvatar != null)
                        {
                            <img height="100" src="@Url.Content("~/Content/Images/" + @Path.GetFileName(item.AuthorAvatar))" style="width:80px">
                        }
                        else
                        {
                            <img height="100" src="~/Content/Images/empytAvatar.png" style="width:80px">
                        }
                        <div>
                            <h4>@item.AuthorName</h4>
                        </div>
                        <div style="float:right;margin-left:5px;word-wrap: break-word; width:100%">
                            @Html.Raw(item.Text)
                        </div>
                    </div>
                    <div>
                        @if (Model.isAdmin)
                        {

                            using (Html.BeginForm("RemovePost", "Forum", new { postId = item.Id, topicId = Model.Id, categoryId = Model.CategoryId }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-danger" type="submit"> Usuń</button>
                            }

                        }
                    </div>
                </div>
                <div>
                    <div class="postInfo">
                        <div>
                            <div class="row" style="width:100%">
                                <p style="width:100%">@item.CreationDate</p>
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("AddLike", "Forum", new { postId = item.Id, topicId = Model.Id, categoryId = Model.CategoryId }, FormMethod.Post, new { id = "addLike-" + item.Id }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a onclick="submitAddLike('@item.Id');"><img src="~/Content/Images/like.png" width="16" height="16" /> (@item.Likes)</a>
                                    }
                                }
                                else
                                {
                                    <div>
                                        <img src="~/Content/Images/like.png" width="16" height="16" /> (@item.Likes)
                                    </div>

                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    <hr/>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("~/Views/Forum/CreatePost.cshtml", new JourneyPortal.ViewModels.Forum.CreatePostViewModel { Id = Model.Id, CategoryId = Model.CategoryId })
        }
    Strona @(Model.PostsList.PageCount < Model.PostsList.PageNumber ? 0 : Model.PostsList.PageNumber) z @Model.PostsList.PageCount

    @Html.PagedListPager(Model.PostsList, page => Url.Action("GetPosts", new { page, categoryId = Model.CategoryId , topicId = Model.Id }))
</div>
<script>
    function submitAddLike(id) {
        $('#addLike-' + id).submit();
    }
</script>